*.dart linguist-detectable=true
*.kt linguist-detectable=false
*.java linguist-detectable=false
android/** linguist-vendored
build/** linguist-vendored
*.gradle linguist-generated
*.xml linguist-generated

